java-builder/target/

**/target/**/*.class
**/target/**/*.txt
**/target/**/*.lst
**/target/**/*.jar
**/target/**/*.properties
**/target/**/*.xml

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr